html,body,div,span{
	background:transparent;
	border:0;
	font-family:Times New Roman;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	padding:0;
	outline:0; 
}
body {
	font:62.5%/1.2 Helvetica, Arial, sans-serif;
	color: #474747; 
	background: url("../images/style/body.jpg") repeat fixed center top #e9e3d3;
	height:100%;
}
body.site {
	border-top: none !important;
}
html {
	height:100%;
}
h1,h2,h3,h4 {
	font-weight:bold;margin:1em 0 1em;
}
h1{
	font-size:160%;
}
h2 {
	font-size:140%;
}
h3 {
	font-size:120%;
}
h4 {
	font-size:110%;
}
a{
	text-decoration:none;
}
li {
	list-style-type: none;
}
ul {
	margin-left: 0;
	padding-left: 0;
}
.container {
	margin: 0 auto;
	width: 960px;
	padding: 0;
}
.topground {
	background: url("../images/style/bg-header.png") repeat-x scroll 0 0 transparent;
	height: 450px;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.header-baner{
	float: right;
	margin-top: 39px;
	text-align: right;
	padding: 0 15px 25px;
	font-family: 'times new roman', times;
	color: #251d1d;
	line-height: normal;
	font-size: 130% !important;
	font-weight: bold;
	letter-spacing: 0.2px;
}
.header-inner{
	overflow: hidden;
	height: 100px;
}
.header-inner a.brand {
	width: 288px;
	height: 58px;
	margin-top: 10px;
	display: inline-block;
}
.nav-pills>li{
	float:left;
}
#nav{
	height:50px; 
	background: url("../images/style/menu.png") repeat-x scroll center top transparent; 
	position:relative;
	z-index:100;
}
#nav ul {
	margin:0 0 0 15px;
}
#nav ul li {
	height:50px;
}
#nav li {
	list-style:none; 
	float:left; 
	height:48px; 
	position:relative;
}
#nav li a {
	display:block; 
	padding:0 20px; 
	line-height:50px; 
	color:#ffffff; 
	font-weight:bold; 
	text-transform:uppercase; 
	text-shadow: 1px 1px 1px #644729;
}
#nav li.active a {
	color:#ffffff; 
	background:#644729;
}
#nav .nav-menu{
	font-size:130%;
}
#nav li a:hover, #nav li:hover a, #nav li.sfHover a {
	background: none repeat scroll 0 0 #644729; 
	color:#ffffff; 
	text-decoration:none;
}
#nav li ul {
	position:absolute;
	width:170px;
	left:-999em;
	margin-left:3px;
	border:1px solid #b19778; 
	border-top:0;
}
#nav li ul ul {
	margin:-31px 0 0 170px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
	left:-999em;
}
#nav li li {
	padding:0;
	height:auto;
	width:170px;
}
#nav li li a, #nav li li.active a, #nav li li a:hover {
	margin:0;
	height:36px;
	line-height:36px;
	color: #fff;
	background: none repeat scroll 0 0 #b19778;
}
#nav li li a, #nav li.active li a {
	font-weight:normal;
}
#nav li:hover ul, #nav li {
	left:0px;
}
#nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {
	left:0;
}
.nav_menu_left_img {
	background: url("../images/style/levy.png") repeat-x scroll 0 0 transparent;
	width:25px;
	height:60px;
	position: absolute; 
	left:-24px;
}
.nav_menu_right_img {
	background: url("../images/style/pravy.png") repeat-x scroll 0 0 transparent;
	width:25px;
	height:60px;
	position: absolute; 
	right:-25px;
}
.clear-both{
	clear:both;
}
.span6 {
	width: 50%;
	*width: 50%;
}
.span9 {
	width: 73%;
	*width: 75%;
}
.span12 {
	width: 100%;
	*width: 100%;
}
.span3 {
		width: 25%;
		*width: 25%;
}
#main-content{
	background: #ffffff;
	width: 100%;
}
.moduletable .uk-width-1-1 .uk-panel-body{
	padding:0;
}
.moduletable .uk-accordion {
	background: url("../images/style/modbg.png") repeat-x scroll 0 0 transparent;
	margin: 0 20px 10px 10px;
	padding: 0 10px;
}
h3.akk-main {
	font-size: 145%;
	font-weight: bold;
	font-family: 'Times New Roman';
	margin: 0 !important;
	padding-left: 10px;
	line-height: 41px;
	color: #fff;
	height: 50px;
	background: url("../images/style/h3.png") no-repeat scroll 0 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #644729;
}
#main-left{
	float:left;
	padding: 15px 0 0 15px;
}
#main-right{
	float:right;
	padding: 15px 5px 0 0;
}
.content-container{
	padding: 1px 20px 20px;
/*	margin-top: 10px; */
}
.style_both{
	margin-left: 25%;
	margin-right: 25%;
}
.style_left{
	margin-left: 27%;
}
.style_right{
	margin-right: 25%;
}
a {
	color: #644729;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
.moduletable>.mod_fon{
	background: url("../images/style/modbg.png") repeat-x scroll 0 0 transparent;
	margin: 0 20px 10px 10px;
	padding: 0 10px;
}
.rsform fieldset.formContainer{
	border: 0  !important;
	margin-top: -2px;
}
.formResponsive .formHorizontal .formControls {
	margin: 0 !important;
}

.rsform-input-box{
	width: 90%;
}
.rsform input, .rsform textarea {
	color: #505050;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
	border: 1px solid #c0c0c0;
	margin: 0px -6px 14px !important;
	padding: 5px !important;
	float: right;
	width: 100%;
}
.rsform textarea:hover, .rsform input:hover, .rsform input:focus, .rsform textarea:focus {
	border: 1px solid #c0c0c0;
	background-color: #ffffe0;
}
.uk-accordion h3.uk-accordion-title, h3.uk-accordion-title span, h3.uk-accordion-title span span{
	background: none;
	display: block;
	font-size: 13px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	background-image: url(../images/style/style2.png);
	cursor: pointer;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 0 0 0 10px;
}
.uk-accordion h3.uk-accordion-title>span {
	background-repeat: no-repeat;
	background-position: 100% -60px;
	padding: 0 10px 0 0;
}
.uk-accordion h3.uk-accordion-title span span {
	background-repeat: repeat-x;
	background-position: 0 -120px;
	padding: 0 4px;
}
.uk-accordion h3.uk-accordion-title span span:hover, .uk-accordion h3.uk-active span span {
	background-position:0 -150px;
}
.uk-accordion h3.uk-accordion-title span:hover, .uk-accordion h3.uk-active span {
	background-position:100% -90px;
}
.uk-accordion h3.uk-accordion-title:hover, .uk-accordion h3.uk-active {
	background-position:0 -30px;
}
.uk-grid .uk-panel img{
border: 1px groove #FF9326;
}
#content h1{
	font-size: 200%;
}
#content ul{
	margin-left: 15px;
}
.rsform-block label{
	display: none;
}
#jlvkgroup43872309{
	margin-left: 10px;
}
.mod_fon ul{
	margin: 0;
}
.moduletable{
	margin-bottom: 10px;
}
.footer .container{
	width: 100%;
}
.ya-metrika{
	padding: 6px 0;
	background: #fff;
}
.footer .custom{
	background-image: url('../images/style/menu.png');
	margin-bottom: 10px;
}
.footer .custom p{
	margin: 0;
	padding: 1em;
	text-align: center;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}
.bt-cs .next, .bt-cs .prev {
	display: block !important;
	width: 15px !important;
	height: 14% !important;
}
.content-container .bt-cs a.prev {
	background: url(../images/style/re-left.png) left center no-repeat !important;
	left: 577px !important;
	top: -2px;
	opacity: 1;
}
.content-container .bt-cs a.prev:hover {
	background: url(../images/style/re-left-hover.png) left center no-repeat !important;
}
.content-container .bt-cs a.next {
	background: url(../images/style/re-right.png) right center no-repeat !important;
	right: 79px !important;
	top: -2px;
	opacity: 1;
}
.content-container .bt-cs a.next:hover {
	background: url(../images/style/re-right-hover.png) right center no-repeat !important;
}
.rsform-block-captcha-f2 img{
	padding: 4px;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	box-shadow: 0 0 7px rgba(192, 192, 192, 0.698);
	float: left;
	margin-bottom: 5px;
}
input.rsform-captcha-box{
	width: 70% !important;
	float: left;
}
.row a img{
	margin: 1px 0 0 5px;
	border: 0;
	box-shadow: none;
}
/* .rsform-block select{
	width: 102% !important;
	opacity: 1;
	height: 28px;
	cursor: pointer;
	border-radius: 5px;
	margin-left: -2px;
	margin-bottom: 15px;
	box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
} */
#Submit{
	width: 60%;
}
.rsform label.file-label{
	display: block;
	font-size: 120%;
	letter-spacing: 0.3px;
}
.rsform-block-file-f2 .formControls{
	width: 120px;
	height: 28px;
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 15px;
	float: right;
	position: relative;
	border: 1px solid #C0C0C0;
	box-shadow: 0 0 7px rgba(192, 192, 192, 0.698);
	background-image: url(../images/style/button-background.png);
}
.rsform-block-file-f2 .formControls:hover{
	background-position: 0 -28px;
}
.rsform-block-file-f2 .formControls input{
	width: 1000px;
	padding: 0 !important;
	float: right;
	cursor: pointer;
	line-height: 28px;
	opacity: 0;
}
.rsform-block-file-f2 .formControls span{
	position: absolute;
	left: 18%;
	top: 24%;
	font-size: 13px;
}
.col-sm-3 {
	float: left;
	padding-bottom: 10px;
	margin-top: -10px;
	font-size: 120%;
}
.rsform-block-file-f2 .col-sm-3{
	padding:10px 0 0;
}
.formErrorMsg, .formTrueMsg, .rsform>form>div>p {
	font-weight: bold;
	margin: 0 0 10px;
	padding: 16px 32px;
	font-size: 130%;
	color: #505050;
	box-shadow: 0 0 10px rgba(211, 206, 56, 0.7) inset, 0px 0px 7px rgba(211, 206, 56, 0.7);
	border: 1px solid #d3ce38;
	border-radius: 5px;
	background: url("../images/style/message-background.png") repeat-x scroll 0 0 #FFFFFF;
}
.formControls .rsform-error {
	box-shadow: 0 0 10px rgba(192, 80, 80, 0.7) inset, 0px 0px 7px rgba(192, 80, 80, 0.7);
	border: 1px solid #c05050;
}
.rsform-block-header{
	padding: 2px 0;
	margin: 0 -6px 10px -8px;
	font-size: 130%;
	line-height: 1.4;
}
.itemBackToTop .k2Anchor{
	display: none;
}
.bt-cs .bt-row p.readmore {
	text-align: right;
	padding-right: 7px;
}
.uk-overlay-panel{
	opacity: 0.6 !important;
	background-color: black;
	padding: 0 0 10px !important;
	height: 30% !important;
	top: 65% !important;
}
.body{
	min-height: 89%;
	height: auto;
}
footer .container{
	min-height: 11%;
}
.uk-accordion-content{
	padding: 10px !important;
	font-size: 130%;
	line-height: 1.4;
}
.uk-accordion ul li {
	list-style-type:disc;
}
.uk-accordion ul{
	padding-left: 15px;
}
#btcontentslider112{
	margin: 40px -15px 0 -5px; !important;
	font-size: 130%;
}
.uk-width-1-1 ul.uk-dotnav{
	zoom: 40%;
}
.uk-width-1-1 ul.uk-dotnav>li{
	z-index: 100;
}
.uk-width-1-1 .uk-margin-bottom{
	margin-bottom: 0 !important;
}
.uk-panel .uk-grid-margin{
	position: absolute;
	top: 88%;
	left: 0;
	background-color: rgba(135, 89, 43, 0.88);
	color: #fff;
	opacity: 0.7;
	font-size: 180%;
	padding: 5px 0 0 10px;
}
.uk-panel .uk-panel-body a.uk-link-reset{
	display: block;
}
::-webkit-input-placeholder {color:#555;}
::-moz-placeholder          {color:#555;}/* Firefox 19+ */
:-moz-placeholder           {color:#555;}/* Firefox 18- */
:-ms-input-placeholder      {color:#555;}
select {
	color: #555;
}
.rsform-block .formControls{
	position: relative;
}
.rsform-select-box{
	width: 100% !important;
	opacity: 0;
	position: absolute;
	height: 28px;
	cursor: pointer;
	top: 124px;
}
.select-fon {
	background: url("../images/style/select-background.png") repeat-x;
	display: table;
	height: 28px;
	border-radius: 5px;
	width: 100% !important;
	border: 1px solid #c0c0c0;
	box-shadow: 0px 0px 7px rgba(192, 192, 192, 0.7);
	font-size: 130%;
}
.select-arrow{
	background: url("../images/style/select-arrow-right.png");
	background-position: right 0;
	color: #505050;
	height: 28px;
	padding: 0 5px;
	/* display: inline-block; */
	/* padding-top: 6px; */
	border-radius: 5px;
	display: table-cell;
	vertical-align: middle;
	width: 100% !important;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: transparent;
}
.rsform-block-text-f2{
	margin-top: 30px;
}