
/*******************************************************************************************/
/*
/*        Web: http://www.asdesigning.com
/*        Web: http://www.astemplates.com
/*        License: GNU General Public License version
/*
/*******************************************************************************************/


.list_carousel
{
	padding: 0;
	width: auto;
	position: relative;
	width: auto;
}

.list_carousel ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.caroufredsel_wrapper
{
	cursor: auto !important;
}

.caroufredsel_wrapper li
{
	text-align: center;
	overflow: hidden;
}

.caroufredsel_wrapper li p
{
	line-height: 1.3em;
	padding-bottom: 20px;
	color: #eee;
}

.caroufredsel_wrapper li .item_img
{
	position: relative;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 0px;
}

.caroufredsel_wrapper li .item_img:before
{
	position: absolute;
	content: '';
	height: 1px;
	width: 470px;
	top: 50%;
	right: 100%;
	margin-right: 30px;
}

.caroufredsel_wrapper li .item_img:after
{
	position: absolute;
	content: '';
	height: 1px;
	width: 470px;
	top: 50%;
	left: 100%;
	margin-left: 30px;
}

.caroufredsel_wrapper li .item_img img
{
	border: 6px solid #fff;
}

.caroufredsel_wrapper li .item_title
{
	margin-bottom: 15px;
	min-height: 40px;
}

.caroufredsel_wrapper li .item_published
{
	display: block;	
}

.caroufredsel_wrapper li .item_introtext
{
	font-size: 19px;
	line-height: 31px;
	max-width: 760px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto 20px;
}

.list_carousel li
{
	margin: 0px;
	display: block;
	float: left;
	min-width: 50px;
    padding: 0 20px;	
}

.caroufredsel_wrapper .text-separator
{
	margin: 10px;
	height: 10px;	
}

.clearfix
{
	float: none;
	clear: both;
}

.caroufredsel_prev, 
.caroufredsel_next
{
	position: absolute;
	top: 50%;
	display: block;
	height: 20px;
	width: 20px;
	margin-top: -22px;
	line-height: 20px;
	text-align: center;
	color: #2a384e;
	font-size: 1.5em;
	cursor: pointer;
	background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #ffffff, #dddddd);
	padding: 13px;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.caroufredsel_prev
{
	left: -7%;
}

.caroufredsel_next
{
	right: -6%;
}

.caroufredsel_prev:hover, 
.caroufredsel_next:hover
{
	color: #7589a6;
}

.caroufredsel_prev span, 
.caroufredsel_next span
{
	display: block;
	cursor: pointer;
}

.caroufredsel_pagination
{
	text-align: center;
	font-size: 0;
	line-height: 0;
	margin-top: 30px;	
}

.caroufredsel_pagination a
{
	display: inline-block;
	padding: 0 0.5em;
	margin: 0 4px;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	border: 1px solid #fff;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	background: transparent;	
}

.caroufredsel_pagination a:hover, 
.caroufredsel_pagination a.selected
{
	background: #fff;
}

.caroufredsel_pagination a span
{
	display: none;
}


/**************************************************************************************/
/*	 Five-items style                                                                 */

.five-items
{
	position: relative;
}

.five-items .caroufredsel_wrapper:before
{
	content: '';
	z-index: 10;
	position: absolute;
	left: 0;
	height: 100%;
	top: 0;
	width: 112px;
}

.five-items .caroufredsel_wrapper:after
{
	content: '';
	z-index: 10;
	position: absolute;
	right: 0;
	height: 100%;
	top: 0;
	width: 112px;
}

.five-items .caroufredsel_wrapper + .caroufredsel_wrapper:before, 
.five-items .caroufredsel_wrapper + .caroufredsel_wrapper:after
{
	display: none;
}

.five-items .pretext
{
	text-align: center;
	text-transform: uppercase;
	color: #f98000;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 50px;
}

.five-items .item_img
{
	font-size: 55px;
	line-height: 122px;
	text-align: center;
	width: 122px;
	color: #fff;
	margin: 47px 0 auto;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.five-items.rounded .item_img img 
{
    border-radius: 50%;
}

.five-items .ico
{
    font-size: 110px !important;
    line-height: 220px !important;
    margin-top: 0;
    width: 220px;
	height: 220px;
	color: #fff;
	text-align: center;
	float: left;
	margin: 5px 40px 25px auto;
	transition: all 0.5s ease 0s;
}

.five-items .item_content
{
	text-align: center;
	font-weight: 300;
	padding-top: 35px;
	max-width: 946px;
	margin: 0 auto;
}

.five-items .item_content h4
{
	margin-bottom: 25px;
}

.five-items .item_content p
{
	padding-bottom: 40px;
}

.five-items .medium .item_img
{
	width: 165px;
	line-height: 165px;
	margin-top: 25px;
	font-size: 80px;
}

.five-items .large .item_img
{
	width: 220px;
	line-height: 220px;
	margin-top: 0;
	font-size: 107px;
}



